.clearable {
    background: url(/static/img/small_cross.png) no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px; /* USE the same right padding in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}

.clearable.x {
    background-position: right 5px center;
}

.clearable.onX {
    cursor: pointer;
}